--windows
python -m venv .venv
.venv/Scripts/activate

pip freeze > requirements.txt
pip install -r requirements.txt

--mac
python3 -m venv .venv
source .venv/bin/activate

pip freeze > requirements.txt
pip install -r requirements.txt



--python 3.11.8
pyenv local 3.11.8